# app
app:
  host: 0.0.0.0
  port: 8000
{%- if cookiecutter.use_postgres == 'y' %}

# postgres
postgres:
  user: postgres
  password: postgres
  database: postgres
  port: 5432
  host: postgres
{%- endif %}
{%- if cookiecutter.use_redis == 'y' %}

# redis
redis:
  port: 6379
  host: redis
{%- endif %}
