version: '3.2'

services:
  {{ cookiecutter.project_name }}_app:
    build:
      args:
        requirements: requirements/production.txt
    environment:
      # use in code
      - SETTINGS_FILE=api.prod.yml
    command: python3 -m {{ cookiecutter.project_name }}
