{%- raw %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="icon"
      href="{{ url('static', filename='images/favicon.ico') }}"
    />
    <title>Create aio app</title>
    <link
      rel="stylesheet"
      href="{{ url('static', filename='styles/main.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="banner">
        <a href="https://github.com/Arfey/create-aio-app">
          <h1 class="banner-title blink">create aio app</h1>
        </a>
      </div>
    </header>
  </body>
</html>
{%- endraw %}
